stages:
  - test

variables:
  GIT_SUBMODULE_STRATEGY: recursive
  GIT_SUBMODULE_DEPTH: 1

unit_test:
  stage: test
  image: $CI_REGISTRY/nvc-vunit
  variables:
    CI_REGISTRY_USER: gitlab-ci-token
    CI_REGISTRY_PASSWORD: $CI_JOB_TOKEN
  script:
    - cd test && python3 ./run.py
