stages:
  - test

variables:
  GIT_SUBMODULE_STRATEGY: recursive
  GIT_SUBMODULE_DEPTH: 1

unit_test:
  stage: test
  image: gitlab.airhead.ch:5050/nvc-vunit
  script:
    - cd test && python3 ./run.py
