stages:
  - test

variables:
  GIT_SUBMODULE_STRATEGY: recursive
  GIT_SUBMODULE_DEPTH: 1

unit_test:
  stage: test
  image: gitlab-registry.airhead.ch/nvc-vunit
  before_script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN gitlab-registry.airhead.ch
  script:
    - cd test && python3 ./run.py
